
body {
    display: flex;
    flex-direction: row;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    justify-content: space-around;
    background-color: rgb(68, 84, 61);
    color: rgb(39, 39, 39);
}

#center-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

td {
    background-color: rgb(68, 84, 61);
    height: 15px;
    width: 15px;
    border: 0px;
    margin: 0px;
    
}

#table {
    background-color: rgb(68, 84, 61);
    border: solid 2px rgb(39, 39, 39);
    
}

.food {
    background-color: rgb(161, 57, 57);
}

.snake-body {
    background-color: rgb(39, 39, 39);
}

#start {
    width: 150px;
    margin-top: 15px;
    height: 30px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(39, 39, 39);
    color: rgb(68, 84, 61);
    font-size: larger;
}

#score {
    font-size: larger;
    margin-top: 20px;
}